.b-book-header {
	margin-bottom: 10px;
}

.b-book-cover {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.b-book-footer {
	margin-top: 10px;
	clear: both;
}

.b-book-description {
	text-align: justify; 
	display: block;
}
