.b-catalog-card img {
    width: auto;
    height: 100%;
    z-index: 0; 
}

.b-catalog-card img:hover {
    opacity: 0.9;
    cursor: pointer;
}

.b-catalog-card md-grid-tile-footer {
    background-color: RGB(0, 0, 0);
    opacity: 0.8;
}
